extends layout

block content
  #content
    h2
      i.icon-smile
      |  Acerca
    p
    | Desarrolador web desde 1998, vive en 
    a(href = 'http://www.buayacorp.com/archivos/cusco/', target = '_blank') Cusco - Perú
    | , ciudad turística y capital arqueológica de la humanidad.
    | Ha trabajado por muchos años ayudando a empresas a usar tecnologías web para impulsar el turismo de su ciudad.
    p
    | Actualmente trabaja apoyando pequeños gobiernos distritales a mejorar su gestión usando las mismas tecnologías.
    p
    | Le gusta todo lo que tiene que ver con desarrollo web, especialmente con proyectos libres y abiertos 
    | a los cuales contribuye regularmente.
    | Le apasiona enseñar y compartir sus conocimientos, a veces lo hace mediante 
    a(href = 'http://www.buayacorp.com', title = 'Buayacorp: Diseño y Programación', target = '_blank') Buayacorp.

    p
    | Puedes ver algunos trabajos hechos en su 
    a(href = '/portfolio') portfolio
    |.

    h2
      i.icon-shield
      |  Habilidades

    ul
      li
        h3
          i.icon-ok-circle
            |  Front-end
        ul
          li HTML5 / CSS3 / Responsive Design
          li Javascript / jQuery / Underscore / Backbone / Mustache
          li Stylus
          li Jade
          li node.js / express / socket.io
      li
        h3
          i.icon-ok-circle
            |  Back-end
        ul
          li PHP5 / Symfony / Twig
          li Python / Django
      li
        h3
          i.icon-ok-circle
            |  Administración de contenido
        ul
          li Drupal 7 / modules / themes
      li
        h3
          i.icon-ok-circle
            |  Diseño gráfico
        ul
          li Photoshop / Illustrator
      li
        h3
          i.icon-ok-circle
            |  Programación
        ul
          li Java, C#
      li
        h3
          i.icon-ok-circle
            |  Conceptos
        ul
          li LAMP / WAMP