@media screen and (max-width: 960px)
  #main
    width: 80%
@media screen and (max-width: 768px)
  #main
    width: 90%
// @media screen and (max-width: 640px)
@media screen and (max-width: 480px)
  #header
    h1, p
      text-align center
  #social
    margin 0 auto 10px auto
    overflow auto
    position relative
    right auto
    top auto
    width 250px